html,
body {
    color: #46494c;
    font-family: "EB Garamond", serif;
    margin: 0;
    padding: 0;
}


body {
    background-color:blueviolet
}

header {
    text-align: center;
    border: 5px solid black;
    display: block;
    background-color:beige
}

.Aircrafts {
    text-align: center;
    border: 5px solid black;
    padding: 25px 25px;
}

.new-aircraft-form {
    border: 5px solid black;
    padding-top: 25px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color:beige;
}

input {
    width: 250px;
    padding: 3px 3px;
   
}


#inStock {
   margin-bottom: 8px;
}

img {
    max-width: 250px;
    max-height: 250px;
}

li { 
    border: 2px solid grey;
    background-color: lightgray;
}

.option1 {
    background-color: bisque;
}

.option2 {
    background-color: red;
}

@media (max-width: 780px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
    }

}
